{% extends 'clientportal/index.html' %} {% load i18n %} {%load static%} {%block widgetheading%}
<h3 class=" mb-0 mainhd"> {% trans "Change Password" %} </h3>


{%endblock%} {% block support %}
<div class="container dac">
    {{error}}
    <form method="POST" action="">
        {%csrf_token%}
        <div class="form-row">
            <div class="col">
                <div class="md-form">

                    {{form.as_p}}

                </div>
            </div>
        </div><br>




        <input type="submit" class="btn btn-primary" value="{%trans 'SAVE'%}">
    </form>
</div>
{%endblock%}