{% extends 'clientportal/deposit_by_merchant.html' %}
{%load static%}
{% load custom_tag %}
{%block deposit_divepay%}
<div class="container w-50 mt-5">
 
        <form>
          {% csrf_token %}
            <div class="form-group col-lg-12 col-md-12 dp">
                <label for="formGroupExampleInput2">Amount</label>
                <input type="number" name="price" class="form-control" id="formGroupExampleInput2" placeholder="Enter Amount" required>
              </div>
           
            <div class="form-group col-lg-12 col-md-12 dp">
              <label for="formGroupExampleInput">Currency</label>
              <select name="currency" class="form-control" required>
                <option value="">USD<option>
                 
            </select>

        </div>
        <div class="form-group col-lg-12 col-md-12">
          <small class="text-justify">*Please be aware that Charges and Exchange Fees for each Transaction may vary depending on Issuer, Remitter or Financial Institution, which are out of the Company's control.</small>

</div>
        <div class="form-group col-lg-12 col-md-12">
          <input type="submit" value="Deposit Funds" class="btn btn-primary btn-block" >
        </div>
        <!-- <a href="javascript:void(0);" ><img src="https://www.divepay.com/demo/assets/img/logo.png" onclick="pay_with_divepay_func();" style="border:none" />Deposit Funds</a> -->
    </form>
            </div>


{%endblock%}
{% block myaccountjs %}
<script type="text/javascript">
  var a = false;
  $('#pay_with_divepay').on('submit', function(e){
    var url = "https://www.divepay.com/demo/process"
    e.preventDefault();
    var form_data = $(this).serialize();
    if (a == false){
      $.ajax({
        url: `{% url 'StoreDetailsAPIView' %}`,
        type: 'POST',
        cache: false,
        async: true,
        data: form_data,
        success: function(r){
          if (r.status==0){
            var a = true;
            if (a == true){
              document.getElementById('pay_with_divepay').submit();
              console.log('hello');
            }
          }
        }
      });
    }
  });
</script>
{% endblock myaccountjs %}
