{% extends 'clientportal/client_index.html' %} {% load i18n %} {%load static%} {% block all_page %}

<div class="container mt-5" style="border:1px solid #191919;">
    <div class="row py-2" style="background-color:#191919;">
        <div class="col-lg-12 col-md-12">
            <h5 class="text-uppercase f1 text-center text-white pt-2"> {% trans "Download Platform"%} </h5>
        </div>
    </div>
    <div class="row" style="display: flex;justify-content: center;">
        <div class="col-lg-4 col-md-4 mt-5 mb-5">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p class="f1 text-center" style="color: #112a8c;">{% trans "MT4 for Window "%} </p>
                </div>
            </div>
            <section class="text-center ml-5 mr-5" style=" padding:18px 0; text-align: center;border: 1px solid #191919;">

                <a href="https://download.mql5.com/cdn/web/16078/mt4/henanxinluan4setup.exe">
                    <img src="{%static 'image/icon/mt4.png'%}" class="" style="width:75%" />


                </a>
            </section>
            <div class="row pt-3">
                <div class="col-lg-12 col-md-12 text-center">
                    <a href="https://download.mql5.com/cdn/web/16078/mt4/henanxinluan4setup.exe"  class=" f1" style="color: #ED0010;">{% trans "Download"%} </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 mt-5 mb-5">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p class="f1 text-center" style="color: #112a8c;"> {% trans "MT4 for Android"%} </p>
                </div>
            </div>
            <section class="text-center ml-5 mr-5" style=" padding: 20px 0; text-align: center;border: 1px solid #191919;">

              <a href="./metatrader4.apk.1" download>  <img src="{%static 'images/gplay.png'%}" class="w-75" style="height: 60px;border-radius: 10px;"></a>

            </section>
            <div class="row pt-3">
                <div class="col-lg-12 col-md-12 text-center">
                    <a  href="./metatrader4.apk.1" class="f1" style="color: #ED0010;" download>{% trans "Download "%}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 mt-5 mb-5">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p class="f1 text-center" style="color: #112a8c;"> {% trans "MT4 for ios"%} </p>
                </div>
            </div>
            <section class="text-center ml-5 mr-5" style=" padding: 20px 0; text-align: center;border: 1px solid #191919;">

              <a href="https://download.mql5.com/cdn/mobile/mt4/ios?server=HenanXinluan-Demo,HenanXinluan-Real">  <img src="{%static 'images/iso.png'%}" class="w-75"></a>

            </section>
            <div class="row pt-3">
                <div class="col-lg-12 col-md-12 text-center">
                    <a href="https://download.mql5.com/cdn/mobile/mt4/ios?server=HenanXinluan-Demo,HenanXinluan-Real" target="_blank" class="f1" style="color: #ED0010;">{% trans "Download"%} </a>
                </div>
            </div>
        </div>


    </div>
</div>


{%endblock%}