{% extends 'clientportal/client_index.html' %} 
{% load i18n %} 
{%load static%} 
{% block all_page %}
<style>
    #img_data {
        margin-top: 10%;
    }
    th,td{
        text-align: center;
    }
</style>
<div class="row ">
    <div class="col-md-12 col-lg-12 text-center">
        <img src="https://i.pinimg.com/originals/07/24/88/0724884440e8ddd0896ff557b75a222a.gif" id="img_data"
            width="300px" height='250px' style="display: none;">
            <h6 class="text-info" id="content_data" style="display: none;"> {% trans "Wait for few seconds...!" %} </h6>
    </div>
</div>
<div class="container mt-5" id="total_div" style="border:1px solid #191919">
    <div class="row py-2" style="background-color:#191919;">
        <div class="col-lg-12 col-md-12">
            <h5 class="text-uppercase f1 text-center text-white pt-2">{% trans "My Account "%} </h5>
        </div>
    </div>
    <br>
    <table class="table my_account_table table-sm table-bordered" id="table_id">
        <thead class="thead-dark">
            <tr>
                <th> {% trans "MT4 Login"%} </th>
                <th> {% trans "Type"%} </th>
                <th> {% trans "Account Type"%} </th>
                <th>{% trans "Currency "%} </th>
                <th> {% trans "Balance"%} </th>
                <th> {% trans "Action"%} </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: `{% url 'GetAccountDetailAPIView' %}`,
            type: 'GET',
            beforeSend: function () {
                $('#img_data').show();
                $('#content_data').show();
                $('#total_div').hide();
            },
            complete: function () {
                $('#img_data').hide();
                $('#content_data').hide();
                $('#total_div').show();
            },
            success: function (response) {
                if (response.status == 0) {
                    for (var i = 0; i < response.data.length; i++) {
                        var s = parseInt(response.data[i].balance, 10);
                        var n = s.toFixed(2);
                        if (response.data[i].server_title != 'Demo Account'){
                            res_data = `<tr>
                                <td>${response.data[i].login}</td>
                                <td>${response.data[i].server_title}</td>
                                <td>${response.data[i].ac_type}</td>
                                <td>${response.data[i].cu_type}</td>
                                <td>${response.data[i].balance}</td>
                                <td><a href="{% url 'account_overview' %}?account=${response.data[i].login}&type=${response.data[i].server_type}">
                                    <input type="submit" value="{%trans "Overview"%}"></a>
                                 </td>
                            </tr>`
                            $('#table_id').append(res_data)
                        }
                    }
                } else if (response.status == 1) {
                    alert('data not get from api. Please check')
                }
            }
        });
    });
</script>


{%endblock%}