{% extends 'clientportal/client_index.html' %} {% load i18n %} {%load static%} {% block all_page %}
<div class="container mt-5">

    <div class="row deposit_section" style="display: flex;justify-content: center;">

        <a href="{%url 'bitcoin_withdraw'%}"><img src="{%static 'image/icon/BTC.png'%}" style="margin-top:4%;width:5rem" />
        </a>

        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

        <a href="{%url 'usdt_withdraw'%}"><img src="{%static 'image/icon/USDT.png'%}" style="margin-top:4%;width:5rem" /> </a>


    </div>
    <br>

    <div class="section mt-5">
        {%block withdraw_divepay%}{%endblock%}

    </div>

</div>
{%endblock%}