{% extends 'dashboard/temp/layout1.html' %}
{% load i18n %}
{%load static%}
{%block accountsheading%}
<a href="{%url 'homes'%}">{% trans "Dashboard" %} </a>/
<h3 class="content-header-title mb-0">{% trans "Accounts" %} </h3>
{%endblock%}
{% block accounts %}
<div class="content-body"><!-- Description -->
<div class="container-fluid">
<div class="row">
  <div class="col-lg-12 col-md-12">
    <table id="table" class="display" style="overflow:scroll">
  <thead>
      <tr>
          <th> {% trans "ID" %} </th>
          <th> {% trans "Login" %} </th>
          <th>{% trans "Group " %} </th>
          <th>{% trans "Type " %} </th>
          <th>{% trans "Demo" %} </th>
          <th>{% trans "Trade " %} </th>
          <th> {% trans "Balance" %} </th>
          <th>{% trans "Client" %} </th>
          <th> {% trans "CreatedAt" %}</th>
          <!-- <th>Levarage</th> -->
          <!-- <th>Action</th> -->


      </tr>
  </thead>
  <tbody>
      <tr>
          <td>2072</td>
          <td>USD1002999</td>
          <td>Deposit Account</td>
          <td>Deposit Account</td>
          <td>No</td>
          <td>No	</td>
          <td>USD $0.00</td>
          <td> Gtest43545</td>
          <td>2020-03-10</td>
          <!-- <td>0</td> -->
          <!-- <td>Edit</td> -->

      </tr>
      <tr>
          <td>2072</td>
          <td>USD1002999</td>
          <td>Deposit Account</td>
          <td>Deposit Account</td>
          <td>No</td>
          <td>No	</td>
          <td>USD $0.00</td>
          <td> Gtest43545</td>
          <td>2020-03-10</td>
          <!-- <td>0</td> -->
          <!-- <td>Edit</td> -->

      </tr>
      <tr>
            <td>2072</td>
            <td>USD1002999</td>
            <td>Deposit Account</td>
            <td>Deposit Account</td>
            <td>No</td>
            <td>No	</td>
            <td>USD $0.00</td>
            <td> Gtest43545</td>
            <td>2020-03-10</td>
            <!-- <td>0</td> -->
            <!-- <td>Edit</td> -->

        </tr>
        <tr>
            <td>2072</td>
            <td>USD1002999</td>
            <td>Deposit Account</td>
            <td>Deposit Account</td>
            <td>No</td>
            <td>No	</td>
            <td>USD $0.00</td>
            <td> Gtest43545</td>
            <td>2020-03-10</td>
            <!-- <td>0</td> -->
            <!-- <td>Edit</td> -->

        </tr>
        <tr>
            <td>2072</td>
            <td>USD1002999</td>
            <td>Deposit Account</td>
            <td>Deposit Account</td>
            <td>No</td>
            <td>No	</td>
            <td>USD $0.00</td>
            <td> Gtest43545</td>
            <td>2020-03-10</td>
            <!-- <td>0</td> -->
            <!-- <td>Edit</td> -->

        </tr>
</tbody>
</table>
  </div>

</div>
</div>


</div>
{%endblock%}
