{% extends 'dashboard/temp/client_detail_index.html' %}
{% load i18n %}
{% load static %}
{%block detail_content%}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 table-responsive">
            <table class="table table-bordered table-sm table-main w-100" id="table_id">
                <thead class="thead-dark">
                    <tr>
                        <th>{% trans "Datetime" %}</th>
                        <th>{% trans "IP Address" %}</th>
                        <th>{% trans "Action" %} </th>
                        <th>{% trans "Description" %} </th>
                    </tr>
                </thead>
    
                <tbody>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                </tbody>
            </table>
        </div>
    </div>
</div>


{%endblock%}