{% extends 'dashboard/temp/client_detail_index.html' %} {% load i18n %} {% load static %} {%block detail_content%}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<div class="container-fluid mt-3">
    <div class="section-heading row">
        <div class="col-lg-12 col-md-12 py-2 bg-primary">
            <h5 class="f1 text-white pt-2 pl-4"><i class="fa fa-list txt-red" aria-hidden="true"></i> &nbsp;{% trans "Transaction" %}
            </h5>
        </div>
    </div>
    <br>
    <div class="row mb-5">
        <div class="col-md-4 col-lg-4">
            {% include 'dashboard/temp/customfilter.html' %}
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="section d-flex justify-content-end">
                <button class="exportFile btn btn-success " id="excel" value="excel">{% trans "Export as Excel" %}</button>
            <button class="exportFile btn btn-danger ml-1" id="csv" value="csv">{% trans "Export as CSV" %}</button>
            <button class="exportFile btn btn-primary ml-1" id="pdf" value="pdf">{% trans "Export as PDF" %}</button>
            </div>
        </div>
    </div>
<div class="row table-responsive">
    <table class="table table-bordered table-sm" id="table_id">
        <thead class="thead-dark">
            <tr>
                <!-- <th class=" text-center th-sm border-right f1">Date</th> -->
                <th class=" text-center th-sm border-right f1">{% trans "Transaction ID" %}</th>
                <th class=" text-center border-right th-sm f1">{% trans "Type" %}</th>
                <th class="text-center border-right th-sm f1">{% trans "Amount" %}</th>
                <th class=" text-center border-right th-sm f1">{% trans "Currency" %}</th>
                <th class=" text-center border-right th-sm f1">{% trans "Comment" %}</th>
                <th class=" text-center border-right th-sm f1">{% trans "Batch Number" %}</th>
                <th class=" text-center border-right th-sm f1">{% trans "Time Stamp" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in trans_method %}
            <tr class="text-center">
                <!-- <td>{{trans.added_on|date:'d-m-Y'}}</td> -->
                <td>{{trans.id}}</td>
                {% if trans.type == '1' %}
                <td>Deposit</td>
                {% else %}
                <td>Withdraw</td>
                {% endif %}
                <td>{{trans.amount|floatformat:2}}</td>
                <td>{{trans.currency}}</td>
                <td>{{trans.comments}}</td>
                <td>{{trans.batch_number}}</td>
                <td>{{trans.updated_on|date:"d-m-Y G:i:s"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<script>
    const exportFile = document.querySelectorAll(".exportFile");
    exportFile.forEach((e) => {
        e.addEventListener("click", () => {
            const url = new URL(window.location.href);
            console.log(url);
            const query_string = url.search;
            let new_url = `${url.origin}${url.pathname}${e.value}${query_string}`;
            console.log(new_url);
            window.location.href = new_url;
        });
    });
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
{% endblock %}