{% extends 'dashboard/temp/maincontent.html' %}
{% load static %}
{%block depositheading%}
<a href="{%url 'homes'%}">Dashboard</a>/
<h3 class="content-header-title mb-0">Permissions</h3>
{%endblock%}
{% block client %}
<div class="content-body"><!-- Description -->
 <div class="container-fluid">
<div class="row">
  <div class="col-lg-9 col-md-9">
    {%block table%}
    <table id="table" class="display">
  <thead>
    <tr>
   <th>ID</th>
   <th>Name</th>
   <th>Type</th>
   <th>Roles</th>
   <th>User</th>
   <th><button class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Create</button> </th>

</tr>
  </thead>
  <tbody>
    <tr>
    <td>1</td>
    <td>access-user-list</td>
    <td>access</td>
    <td>1</td>
    <td>0</td>
    <td>Edit</td>


</tr>
<tr>
  <td>2</td>
  <td>access-user-edit</td>
  <td>access</td>
  <td>1</td>
  <td>0</td>
  <td>Edit</td>


</tr>
<tr>
  <td>3</td>
  <td>access-user-list</td>
  <td>access</td>
  <td>1</td>
  <td>0</td>
  <td>Edit</td>


</tr>

<tr>
  <td>4</td>
  <td>access-user-list</td>
  <td>access</td>
  <td>1</td>
  <td>0</td>
  <td>Edit</td>


</tr>
<tr>
  <td>5</td>
  <td>access-user-list</td>
  <td>access</td>
  <td>1</td>
  <td>0</td>
  <td>Edit</td>


</tr>

  </tbody>
</table>
{%endblock%}
  </div>
  <div class="col-lg-3 col-md-3">
<div class="container cnt2">
<div class="row">
<div class="col-lg-6 col-md-6 text-center">
<a href="#">  <i class="fa fa-hourglass btn btn-primary tz" type="button" aria-hidden="true" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i></a>
</div>
<div class="col-lg-6 col-md-6 text-center">
<a href="#">  <i class="fa fa-newspaper-o btn btn-primary tz"  aria-hidden="true" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i></a>
</div>
</div>
<br>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle tz" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Table Columns
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
</div>
    </div>
  </div>


  <section>
  <div class="row d-inline-flex srow">
  <p>Table Columns</p><i class="fa fa-angle-down i1"></i>
  </div>
  <hr class="hr1">
  </section>
  {%block tablecolumns%}
  <div class="row">
     <div class="col-lg-10"><p>name</p></div>
     <div class="col-lg-2"><input type="checkbox"   name="chk1"/></div>
  </div>
   <div class="row">

     <div class="col-lg-10"><p>Type</p></div>
     <div class="col-lg-2"><input type="checkbox"   name="chk1"/></div>
  </div>
  <div class="row">
   <div class="col-lg-10"><p>Roles</p></div>
   <div class="col-lg-2"><input type="checkbox"   name="chk1"/></div>
  </div>
  <div class="row">
   <div class="col-lg-10"><p>Users</p></div>
   <div class="col-lg-2"><input type="checkbox"   name="chk1"/></div>
  </div>

{%endblock%}

<hr>

<div class="row">
<div class="col-lg-3 col-md-3 rsk">
  <button type="button" class="btn btn-danger">Reset</button>

</div>&nbsp;&nbsp;&nbsp;
<div class="col-lg-3 col-md-3">
  <button type="button" class="btn btn-success">Apply</button>

</div>

</div>



</div>





  </div>
</div>
</div>


</div>
{%endblock%}
