{% extends 'dashboard/temp/crm_index.html' %} {% load i18n %} {% load static %} {%block content%}

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<h5 class="text-white bg-primary p-2">
    <i class="fa fa-pencil text-danger" aria-hidden="true"></i> &nbsp;Edit User
</h5>

<div class="container-fluid">
	<form method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h4 style="color:red">{{error}}</h4>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="fname"><b>First Name:</b></label>
							<input type="text" class="form-control" name="fname" value={{agent.firstname}}>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="lname"><b>Last Name:</b></label>
							<input type="text" class="form-control" name="lname" value={{agent.lastname}}>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="uname"><b>User Name:</b></label>
							<input type="text" class="form-control" name="uname" value={{agent.username}}>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="email"><b>Email address:</b></label>
							<input type="email" class="form-control" name="email" value={{agent.email}}>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="department" name="department"><b>Department:</b></label>
							<select class="form-control" name="department">
								{% for d in department %}
								<option value="{{d.id}}" {% if d.name == agent.department %} selected {% endif %}>
									{{d.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="office" name="office"><b>Office:</b></label>
							<select class="form-control" name="office">
								{% for o in office %}
								<option value="{{o.id}}" {% if o.name == agent.office %} selected {% endif %}>{{o.name}}
								</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="office"><b>Brand Visibility:</b></label>
							<select class="form-control" name="brandvisibility">
								{% for b in brand %}
								<option value="{{b.id}}" {% if b.name == agent.brandvisibility %} selected {% endif %}>
									{{b.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="accesslevel"><b>Access Level:</b></label>
							<select class="form-control" name="accesslevel">
								<!-- <option disabled selected>{{ agent.accesslevel }}</option> -->
								{% for l in accesslevel %}
								<option value="{{l.id}}" {% if l.name == agent.accesslevel %} selected {% endif %}>
									{{l.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="leads_access_level"><b>Leads Access Level :</b></label>
							<select class="form-control" name="leadsaccesslevel">
								{% for la in leadsaccesslevel %}
								<option value="{{la.id}}" {% if la.name == agent.leadsaccesslevel %} selected {% endif %}>
									{{la.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="leads_regi"><b>Leads Regions:</b></label>
							<select id="lstFruits" class="form-control" name="leadsregions">
								{% for lr in leadsregions %}
								<option value="{{lr.id}}" {% if lr.name == agent.leadsregions %} selected {% endif %}>
									{{lr.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="password1"><b><i class="fa fa-key" aria-hidden="true"></i>
									Password:</b></label>
							<input type="password" class="form-control" name="pwd1" value={{agent.password}} disabled>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<label for="password2"><b><i class="fa fa-key" aria-hidden="true"></i>
									Confirm Password:</b></label>
							<input type="password" class="form-control" name="pwd2" value={{agent.confirmpassword}}
								disabled>
						</div>
					</div>
				</div> -->
				<input type="submit" class="btn btn-primary w-100" value="SAVE" />
			</div>
            <div class="col-lg-5 col-md-5 offset-lg-1">
                <label><b>Permission</b></label>
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="f1">Edit Client Save</td>
                                <td class="text-right">
                                    <input type="checkbox" name="client_edit" {% if agent.client_edit == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">View Changelog</td>
                                <td class="text-right">
                                    <input type="checkbox" name="log_changes_view" {% if agent.log_changes_view == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Change Compliance Status</td>
                                <td class="text-right">
                                    <input type="checkbox" name="change_status_compliances" {% if agent.change_status_compliances == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Notes - Add Note</td>
                                <td class="text-right">
                                    <input type="checkbox" name="note_add" {% if agent.note_add == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Notes - Edit Note</td>
                                <td class="text-right">
                                    <input type="checkbox" name="note_edit" {% if agent.note_edit == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Notes - Delete Note</td>
                                <td class="text-right">
                                    <input type="checkbox" name="note_delete" {% if agent.note_delete == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Sales Agentent Update</td>
                                <td class="text-right">
                                    <input type="checkbox" name="sales_agent_edit" {% if agent.sales_agent_edit == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Sales Notes & Follow Ups</td>
                                <td class="text-right">
                                    <input type="checkbox" name="sales_notes_and_follow_ups" {% if agent.sales_notes_and_follow_ups == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">MT4 Demo Accounts - Settings Save</td>
                                <td class="text-right">
                                    <input type="checkbox" name="mt4_demo_account_settings" {% if agent.mt4_demo_account_settings == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">MT4 Demo Accounts - Balance Operations</td>
                                <td class="text-right">
                                    <input type="checkbox" name="mt4_demo_account_balance_operation" {% if agent.mt4_demo_account_balance_operation == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">MT4 Demo Accounts - Changelog</td>
                                <td class="text-right">
                                    <input type="checkbox" name="mt4_demo_account_changelog" {% if agent.mt4_demo_account_changelog == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">MT4 Live Accounts - Changelog</td>
                                <td class="text-right">
                                    <input type="checkbox" name="mt4_live_account_changelog" {% if agent.mt4_live_account_changelog == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Documents - Upload</td>
                                <td class="text-right">
                                    <input type="checkbox" name="docs_upload" {% if agent.docs_upload == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Documents - Delete</td>
                                <td class="text-right">
                                    <input type="checkbox" name="docs_delete" {% if agent.docs_delete == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1"><b>Pending Clients</b></td>
                            </tr>
                            <tr>
                                <td class="f1">Pending Clients</td>
                                <td class="text-right">
                                    <input type="checkbox" name="pending_clients" {% if agent.pending_clients == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Pending Clients - Actions</td>
                                <td class="text-right">
                                    <input type="checkbox" name="pending_clients_actions" {% if agent.pending_clients_actions == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Pending Partners</td>
                                <td class="text-right">
                                    <input type="checkbox" name="pending_partners" {% if agent.pending_partners == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Pending Partners - Actions</td>
                                <td class="text-right">
                                    <input type="checkbox" name="pending_partner_actions" {% if agent.pending_partner_actions == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Pending Leverage Change Request</td>
                                <td class="text-right">
                                    <input type="checkbox" name="pending_leverage_change_request" {% if agent.pending_leverage_change_request == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1"><b>
                                        Finances
                                    </b></td>
                            </tr>
                            <tr>
                                <td class="f1">View Finances</td>
                                <td class="text-right">
                                    <input type="checkbox" name="view_finances" {% if agent.view_finances == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                            </tr>
                            <tr>
                                <td class="f1">Deposits Actions</td>
                                <td class="text-right">
                                    <input type="checkbox" name="deposit_actions" {% if agent.deposit_actions == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Withdrawals Actions</td>
                                <td class="text-right">
                                    <input type="checkbox" name="withdrawal_actions" {% if agent.withdrawal_actions == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1"><b>Leads</b></td>
                            </tr>
                            <tr>
                                <td class="f1">Add Lead Not needed if Leads Access Level is Admin</td>
                                <td class="text-right">
                                    <input type="checkbox" name="lead_add" {% if agent.lead_add == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1"><b>Administration</b></td>
                            </tr>
                            <tr>
                                <td class="f1">Sales Assignment Administrator</td>
                                <td class="text-right">
                                    <input type="checkbox" name="saless_assignment_admin" {% if agent.saless_assignment_admin == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">View Management Dashboard</td>
                                <td class="text-right">
                                    <input type="checkbox" name="view_management_dashboard" {% if agent.view_management_dashboard == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1"><b>Reports</b></td>
                            </tr>
                            <tr>
                                <td class="f1">Accounts Approved</td>
                                <td class="text-right">
                                    <input type="checkbox" name="accounts_approved" {% if agent.accounts_approved == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Equity Change Report</td>
                                <td class="text-right">
                                    <input type="checkbox" name="equity_change_report" {% if agent.equity_change_report == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">First Time Deposits</td>
                                <td class="text-right">
                                    <input type="checkbox" name="first_time_deposits" {% if agent.first_time_deposits == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                            <tr>
                                <td class="f1">Lead Conversion Report</td>
                                <td class="text-right">
                                    <input type="checkbox" name="lead_conversion_report" {% if agent.lead_conversion_report == 'on' %}checked{% endif %} data-toggle="toggle" data-size="xs">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</form>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
	rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		$('#lstFruits').multiselect({
			includeSelectAllOption: true
		});
	});
</script>

{% endblock %}