{% extends 'dasxin-index.html' %} {% load i18n %} {%load static%} {% block page %}
<div class="container-fluid mb-5">
    <div class="section-heading row pl-5">
        <h4 class="text-white fm py-2">{% trans "Who & Why" %}</h4>
    </div>
    <div class="section-about responsive-img row" id="about-section">

    </div>
    <div class="container pt-5">
        <p class="fm1 text-center">
            {% trans "Div International Technology Services (DITS) start its business operation as a Web Design & Development, E-Commerce Development, Web Maintenance, Digital Marketing, Mobile App Development, and Network Solutions since January 2018. DITS is focusing exclusively on high quality, cost-effective Software development and implementation of services. We are advancing at a tremendous pace and with the involvement of skilled and experienced people working in the organization. We are one of the leading top web development company in India. We have a Digital Marketing Service provider in India and Abroad. Currently doing business in Government, Banking, MNCs, Large Corporate, Telecom and in the Media Sector." %}
        </p>
        <p class="fm1 text-center">
            {% trans "You would need a simple website design to promote your business or a more complex website design with e-commerce or custom features. You will rely on webs to design and build a website solution that will generate results. With numerous positive feedbacks from our customers, we have already made our mark as the top web development and other services company in India and Abroad." %}
        </p>
        <p class="fm1 text-center">
            {%trans "We make it possible to show the most complex ideas into perfect web solutions and guarantee success, Be it web design, web development, Search Engine optimization. We assure 100% satisfaction with user-Friendly websites. We make it possible to show the most complex ideas into perfect web solutions and guarantee success, Be it web design, web development, Search Engine optimization. We assure 100% satisfaction with user-Friendly websites."%}
        </p>
    </div>
</div>



{%endblock%}