{% extends 'dasxin-index.html' %} {%load static%} {% block page %}
<div class="container-fluid">
    <div class="section-heading row pl-5">
        <h4 class="text-white fm py-2">Assets</h4>
    </div>
</div>
<div class="container-fluid responsive-img pt-3" id="assets-bg">
    <div class="background-blur" id="black-blur">

        <!-- <div class="container pt-3  pb-3">
            <div class="row mt-5 p-3">
                <div class="col-lg-2 col-md-2">
                    <div class="section bx-shadow asset-card asset-active ">
                        <h5 class="fm pt-2 text-white">FOREX</h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="section bx-shadow asset-card">
                        <h5 class="fm pt-2"> METALS </h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="section bx-shadow asset-card">
                        <h5 class="fm pt-2">ENERGIES </h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="section bx-shadow asset-card">
                        <h5 class="fm pt-2"> INDICES </h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="section bx-shadow asset-card">
                        <h5 class="fm pt-2">CRYPTOS </h5>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="section bx-shadow asset-card">
                        <h5 class="fm pt-2">CFDS</h5>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="container mt-3">
            <table class="table table-sm table-bordered" style="background-color:rgb(0 0 0 / 0.7);color:white">
                <thead style="background-color: white">
                    <tr class="text-center" style="color: #122b88;">
                        <th scope="col" class="fm">#</th>
                        <th scope="col" class="fm">First</th>
                        <th scope="col" class="fm">Last</th>
                        <th scope="col" class="fm">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th scope="row" class="fm1">1</th>
                        <td class="fm1">Mark</td>
                        <td class="fm1">Otto</td>
                        <td class="fm1">@mdo</td>
                    </tr>
                    <tr class="text-center">
                        <th scope="row" class="fm1">2</th>
                        <td class="fm1">Jacob</td>
                        <td class="fm1">Thornton</td>
                        <td class="fm1">@fat</td>
                    </tr>

                </tbody>
            </table>
        </div>  -->





        <!-- <div class="section" id="asset-blur"> -->

        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section responsive-img center asset-bg1 bx-shadow">
                        <div class="container">
                            <h4 class="fm txt-blue p-2 bx-shadow asset-txt">FOREX</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="section responsive-img center asset-bg2 bx-shadow">
                        <div class="container">
                            <h4 class="fm txt-blue p-2 bx-shadow asset-txt">METALS</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="section responsive-img center asset-bg3 bx-shadow">
                        <div class="container">
                            <h4 class="fm txt-blue p-2 bx-shadow asset-txt">ENERGIES</h4>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pb-5">
                <div class="col-lg-4 col-md-4">
                    <div class="section responsive-img center asset-bg4 bx-shadow">
                        <div class="container">
                            <h4 class="fm txt-blue p-2 bx-shadow asset-txt">INDICES</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="section responsive-img center asset-bg5 bx-shadow">
                        <div class="container">
                            <h4 class="fm txt-blue p-2 bx-shadow asset-txt">CRYPTOS</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="section responsive-img center asset-bg6 bx-shadow">
                        <div class="container">
                            <h4 class="fm txt-blue p-2 bx-shadow asset-txt">CFDS</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
</div>

{%endblock%}