{% extends 'dasxin-index.html' %} {%load static%} {% block page %}
<div class="container-fluid">
    <div class="section-heading row pl-5">
        <h4 class="text-white fm py-2">Partnership</h4>
    </div>
</div>
<div class="container-fluid responsive-img  pt-5 pb-3 partnerbg">

    <div class="container mt-5" style="display: flex;justify-content:center;background-color: white;opacity: 0.8;">
        <h5 class="text-center  fm p-5" style="color:#212529!important"> Please contact your Accounts Manager or Send an email to <span class="txt-red">support@hme158.com</span></h5>
    </div>




</div>



{%endblock%}