{% extends 'dasxin-index.html' %} {%load static%} {% block page %}
<div class="container-fluid">
    <div class="section-heading row pl-5">
        <h4 class="text-white fm py-2">Metatrader4</h4>
    </div>
    <div class="section-about responsive-img row pt-5 pb-5" id="platform-section">

        <div class="container mb-3" style="background-color: rgb(255 255 255 / 0.8) ;">
            <div class="section" style="padding:20px;">
                <p class="fm text-justify mt-3" style="color:black">
                    MetaTrader 4 is designed for Forex and CFD trading. Commonly known as MT4, it provides tools and resources that allow traders to analyze price, place and manage trades, and employ automated trading techniques.
                </p>

                <p class="fm text-justify" style="color:black">
                    Download the MT4 platform on all your devices and stay focused on successful trading!

                </p>
            </div>
            <div class="row" style="display: flex;justify-content: center;">
                <div class="col-lg-3 col-md-3 mt-5 mb-5">

                    <section class="text-center" style="text-align: center;">

                        <a href="#">
                            <img src="{%static 'image/mt4.png'%}" class="w-75" />


                        </a>
                    </section>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="#" class="fm" style="color:#191919">Download <b style="color:#f1853c">MT4 </b> <br>
                            <span>For Windows&nbsp;&nbsp;<i class="fa fa-windows"></i></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mt-5 mb-5">

                    <section class="text-center pt-3" style="text-align: center;">

                        <a href="#">
                            <img src="{%static 'images/gplay.png'%}" class="w-75" />


                        </a>
                    </section>
                    <div class="row pt-5">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="#" class="fm" style="color:#191919">Download <b style="color:#f1853c">MT4</b> <br>
                            <span>For Android</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mt-5 mb-5">

                    <section class="text-center pt-3" style="text-align: center;">

                        <a href="#">
                            <img src="{%static 'images/iso.png'%}" class="w-75" />


                        </a>
                    </section>
                    <div class="row pt-5">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="#" class="fm" style="color:#191919">Download <b style="color:#f1853c">MT4</b> <br>
                            <span>For iOS</span></a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 mt-5 mb-5">

                    <section class="text-center" style="text-align: center;">

                        <a href="#">
                            <img src="{%static 'image/mt4.png'%}" class="w-75" />


                        </a>
                    </section>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="#" class="fm" style="color:#191919">Download <b style="color:#f1853c">MT4 </b> <br>
                            <span>For iO X&nbsp;&nbsp;<i class="fa fa-apple"></i></span></a>
                        </div>
                    </div>
                </div>






            </div>
        </div>


    </div>
</div>



{%endblock%}
